<a href="/">home</a> 

<!-- imprimimos los valores de products(la variable que le dimos al controlador) -->

<h1 ><%= product.name %></h1><br> 

<img src="/images/products/<%= product.image %>" alt="<%= product.image %>"> <br>

<%= product.decription %><br>

<%= product.price %><br>

<%= product.category %><br>

<%= product.size %> 